/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'copperplate', fantasy;
    background-image: url(images/hero.png);
    
    padding-top: 50px;
}

header {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 1em;
    background-color: white;
    z-index: 1000;
}
.logo-img {
    width: 100px; /* Ajusta el tamaño según necesites */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 0.5px; /* Espacio entre el GIF y el texto */
}
.logo {
    font-size: 28px;
    color: rgb(255, 0, 0);
    font-family: 'copperplate', fantasy;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    display: flex; 
    align-items: center; 
}

.logo a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-style: italic;
}

nav ul {
    font-style: italic;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

main h1 {
    font-style: italic;
    font-family: 'copperplate', fantasy;
    color: black;
    font-size: 60px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

main p {
    font-style: italic;
    font-family: 'copperplate', fantasy;
    color: #555555;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
    margin: 0 1em;
}



.col {
    width: 30%;
    padding: 1rem;
    background-color: #eee;
    border-radius: 10px;
}

.carousel-container {
    position: relative; 
    text-align: center;
    margin: 3rem 0;
}

.carousel-container img {
    width: 600px;
    height: 400px; 
    
}
.carousel-container button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px; 
    padding: 10px;
    opacity: 0.8;
}
    .carousel-container button:first-of-type {  
    left: 10px; 
}
    .carousel-container button:last-of-type {
    right: 10px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 2rem auto;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.hero{
    color: black;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.hero a{
    text-decoration: none;
    color: inherit;
}


.recomendaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .recomendacion {
    width: calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    text-align: center;
  }
  
  .recomendacion img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .recomendaciones:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
  }
  main h2 {
    margin-left: 20px;
    font-size: 30px; /* Adjust font size as needed */
    font-weight: bold; /* Make the title stand out */
  }
  .producto-tarjeta {
    padding: 15px; /* Add padding inside the card */
  }
  
  .producto-imagen {
    width: 100%; /* Display the image at full card width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure image fills the space */
  }
  
  .info-producto {
    margin-top: 10px; /* Space between image and info */
    margin-bottom: 20px;
  }
  
  .info-producto h3 {
    font-size: 32px; /* Adjust font size for product name */
    margin-bottom: 5px; /* Space between name and price */
    

  }
  
  .info-producto p {
    font-weight: bold; /* Make price visually distinct */
    color: #333; /* Darker color for price */
  }
  .error-message {
  color: red;
  display: none;
}
