/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-image: url(images/hero.png); 
    padding-top: 50px;
}

header {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 1em;
    background-color: white;
    z-index: 1000;
}

.logo-img {
    width: 100px;
    height: auto; 
    margin-right: 0.5px; 
}

.logo {
    font-size: 28px;
    color: rgb(255, 0, 0);
    font-family: 'copperplate', fantasy;
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
    display: flex; 
    align-items: center; 
}

.logo a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-style: italic;
}

nav ul {
    font-style: italic;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    font-family: 'copperplate', fantasy;
    text-decoration: none;
    color: black;
    font-size: 30px;
   
}

main h1 {
    font-family: 'copperplate', fantasy;
    font-style: italic;
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

main p {
    font-style: italic;
    color: black;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin: 0 1em;
}

.col {
    width: 30%;
    padding: 1rem;
    background-color: #eee;
    border-radius: 10px;
}

.carousel-container {
    position: relative; 
    text-align: center;
    margin: 3rem 0;
}

.carousel-container img {
    width: 600px;
    height: 400px; 
    
}

.carousel-container button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px; 
    padding: 10px;
    opacity: 0.8;
}

.carousel-container button:first-of-type {  
    left: 10px; 
}

.carousel-container button:last-of-type {
    right: 10px;
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 2rem auto;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    color: black;
    background-color:white;
    outline: none;
}

label {
    padding: 10px;
    width: 100%;
    font-size: 18px;
    color: black;
    font-weight: bold;
    outline: none;
}


button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.recomendaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
}
  
.recomendacion {
    width: calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
  
.recomendacion img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
  
.recomendaciones:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
}

main h2 {
    margin-left: 20px;
    font-size: 20px; 
    font-weight: bold;
    color: black; 
}

.info-producto {
    margin-top: 10px; 
    margin-bottom: 20px;
}
  
.info-producto h3 {
    font-family: 'copperplate', fantasy;
    font-size: 32px;
    margin-bottom: 5px; 
}
  
.info-producto p {
    font-family: 'copperplate', fantasy;
    font-weight: bold; 
    color: #333; 
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around; 
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    width: 30%;
}

.footer-section h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.error {
    border-color: red;
}

ul {
    color: red;
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
}

#resultado {
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 5px;
    display: none;
   
}
