/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'copperplate', fantasy;
    background-image: url(images/hero.png);
    background-size: cover;
    padding-top: 50px;
}

header {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 1em;
    background-color: white;
    z-index: 1000;
}
.logo-img {
    width: 100px; /* Ajusta el tamaño según necesites */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 0.5px; /* Espacio entre el GIF y el texto */
}
.logo {
    font-size: 28px;
    color: rgb(255, 0, 0);
    font-family: 'copperplate', fantasy;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    display: flex; 
    align-items: center; 
}

.logo a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-style: italic;
}

nav ul {
    font-style: italic;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

main h1 {
    font-style: italic;
    font-family: 'copperplate', fantasy;
    color: black;
    font-size: 2.5em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

main p {
    font-style: italic;
    font-family: 'copperplate', fantasy;
    color: #555555;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
    margin: 0 1em;
}



.col {
    width: 30%;
    padding: 1rem;
    background-color: #eee;
    border-radius: 10px;
}

.carousel-container {
    position: relative; 
    text-align: center;
    margin: 2rem 0;
}

.carousel-container img {
    width: 600px;
    height: 400px; 
    
}
.carousel-container button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px; 
    padding: 10px;
    opacity: 0.8;
    }
    .carousel-container button:first-of-type {  
    left: 10px; 
    }
    .carousel-container button:last-of-type {
    right: 10px;
    }

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 2rem auto;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.hero{
    color: black;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.hero a{
    text-decoration: none;
    color: inherit;
}

.recomendacion{
    position: absolute;
    border-radius: 10px;
    padding: 1em;
    background-color: white;
}